@import '../../mixin'

.bread-crumbs
  padding 36px 0 14px
  margin 0 40px
  align-self flex-start
  $display-flex(row, flex-start)
  
  &__link
    padding 0 4px
    display block
    font-size $font_button
        
    &:after
      content ' / '
          
    &:last-child
      &:after
        content ''

    &--active
      &:link
      &:visited
        color $orange
