@import '../../mixin'

html
  font-family 'Roboto Slab', 'Arial', 'STHeiti', 'Microsoft JhengHei', serif
  color $dark

#gatsby-focus-wrapper
	width 100vw
	min-height 100vh
	$display-flex(column)
	
	main
		flex 1 0 0
