@import '../../mixin'

html
  font-family 'STHeiti', 'Microsoft JhengHei', 'Roboto Slab', 'Arial', sans-serif
  color $dark
  
*
  box-sizing border-box

#gatsby-focus-wrapper
  width 100vw
  min-height 100vh
  $display-flex(column)
  
  main
    flex 1 0 0
    width 100%
    $display-flex(row, center, stretch)
  
  .content
    flex 1 0 0

a
  &:link
  &:visited
    color $dark
    text-decoration none
