@import '../../mixin'

.header
  display flex
  width 100%  

.index-link
  width 240px
  height 80px
  display flex
  align-items center
  justify-content center
  
.nav-bar
  height 80px
  background-color $dark
  display flex
  flex 1 0 0
  color white
  
  &--transparent
    background-color $dark_transparent  
  
  nav 
    display flex
    flex 1 0 0

    .nav-link
      padding 20px 0
      
      &__label
        padding 0 40px
        height 40px
        border-right 1px solid $white_transparent
        $display-flex()
      
      &:last-child
        border none

      &:visited
      &:link
        color white
        text-decoration none
      
      &--active
        background-color $orange
      
.icon-bars
  width 24px
  height 2px
  background white
  position relative
  
  &:before
  &:after
    content ''
    display block
    width 24px
    height 2px
    background white
    position absolute
    transition transform .5s, top .5s

  &:before
    top -10px    

  &:after
    top 10px
    
  &--crossed
    background transparent

    &:before
    &:after
      top 0

    &:before      
      transform rotate(45deg)

    &:after
      transform rotate(-45deg)
