@import '../mixin'

.menu-opened
  position fixed
  overflow hidden
  width 100vw
  height 100vh

.header
  display flex

.index-link
  width 240px
  height 80px
  display flex
  align-items center
  justify-content center
  
.nav-bar
  height 80px
  background $dark_transparent
  display flex
  flex 1 0 0
  color white
  
  nav 
    display flex
    flex 1 0 0
    margin 20px 0

    .nav-link
      display flex      
      padding 0 40px
      height 40px
      justify-content center
      align-items center
      border-right 1px solid $white_transparent
      
      &:last-child
        border none

      &:visited
      &:link
        color white
        text-decoration none
  
  .lang-switch
    display flex
    justify-content center
    align-items center
    width 80px
    height 80px
    background $dark_transparent

.menu
  position relative

  .toogle-btn
    width 80px
    height 80px
    background $orange
    position relative
    display flex
    justify-content center
    align-items center
    cursor pointer
  
  .menu-list-wrap
    z-index -1000
    position fixed
    background $dark_transparent
    left 0
    top 0
    width 100vw
    height 100vh
    display flex
    justify-content flex-end
    opacity 0
    transition opacity .5s

    .menu-list
      background $dark
      width 320px
      transform translate( 240px, 0)
      transition transform .3s
  
  &--opened
    .menu-list-wrap
      z-index 1
      opacity 1
      
      .menu-list
        transform translate( 0, 0)

    .toogle-btn
      z-index 100
    
.icon-bars
  width 24px
  height 2px
  background white
  position relative
  
  &:before
  &:after
    content ''
    display block
    width 24px
    height 2px
    background white
    position absolute
    transition transform .5s, top .5s

  &:before
    top -10px    

  &:after
    top 10px
    
  &--crossed
    background transparent

    &:before
    &:after
      top 0

    &:before      
      transform rotate(45deg)

    &:after
      transform rotate(-45deg)
